[html]
directory = /var/www/test/runs/
pretty_html = false
xls_generation = false

[local db]
use_sqlite = True
passwd = password
db = iprstats
host = localhost
user = root
port = 3306

[go db]
host: mysql.ebi.ac.uk
user: go_select
passwd: amigo
port: 4085
db: go_latest

[general]
max_table_results = -1
go_lookup = false
apps = PFAM, PIR, GENE3D, HAMAP, PANTHER, PRINTS, PRODOM,
	PROFILE, PROSITE, SMART, SUPERFAMILY, TIGRFAMs
max_chart_results = 15
chart_type = google
directory = .session
