[html]
directory = /var/www/test/runs/
pretty_html = false
xls_generation = false

[local db]
use_sqlite = True
passwd = password
db = iprstats
host = localhost
user = root
port = 3306

[go db]
go_lookup = False
passwd = amigo
db = go_latest
host = mysql.ebi.ac.uk
user = go_select
port = 4085

[general]
max_table_results = -1
apps = PFAM, PIR, GENE3D, HAMAP, PANTHER, PRINTS, PRODOM,
	PROFILE, PROSITE, SMART, SUPERFAMILY, TIGRFAMs
max_chart_results = 10
chart_type = pie
chart_gen = google
directory = .session