#container {
	background: #fff;
	font-family: arial, times;
	margin-left:auto;
	margin-right:auto;
	width: 900px;
}

#header {
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	background: #099;
	height: 100px;
	margin: 0;
	width: 100%;
}

#header h1{
	color: #fff;
	margin-left:auto;
	margin-right:auto;
	padding: 20px 0px 0px 0px;
	text-align: center;
	width: 200px;
}

#tabs {
	margin: 0;
	padding: 0;
	text-align: right;
}

#tabs li {
	/* background: #e8e8e8; */
	display: inline;
	list-style-type: none;
}

#middlesec {
	background: #099;
	overflow: hidden;
}

#navigation {
	float: left;
	margin: 0px;
	padding: 5px 0px 0px 0px;
	width: 150px;
}

#navigation li {
	background: #3c3;
	border-top: solid 4px #fff;
	border-bottom: solid 4px #fff;
	list-style-type: none;
	margin: 0px 0px 10px 0px;
	padding: 0 5px;
}

#navigation li a {
	color: #fff;
	display: block;
	font-size: 80%;
	text-decoration: none;
}

#content {
	background: #fff;
	float: left;
	margin: 0px;
	padding: 10px;
	width: 730px;
}

#content img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#content table {
	border: solid #099 1px;
	margin-left: auto;
	margin-right: auto;
}

#content table tr.highlight {
	background: #099;
	color: #fff;
}
/*
#content table td {
	border: solid #099 1px;
}

#content table th {
	border: solid #099 1px;
}*/

#footer {
	-moz-border-radius-bottomleft: 20px;
	-moz-border-radius-bottomright: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	background: #099;
	color: #fff;
	padding: 15px 0px;
	text-align: center;
}
